body {
	text-align: center;
    background: url("https://i.imgur.com/fqnqoAK.jpg");
    background-size: cover;
}
h1{
	color: #BBDAFF;
	font-weight: bold;
	font-family: fantasy;
	font-size: 175px;
} 
h3{ 
	  color: #BBDAFF;font-family: fantasy;
	  font-style: italic; 
	  font-size: 50px; 	
}
.rectangles{
	  width: 75px;
	  height: 25px;
	  border: 2px solid #000000;
	  display: inline-block;
	  margin: 20px;
}
#cta {
	  font-family: fantasy; 
	  text-decoration: none;
	  color:#000000; 
	  background-color:#FF774B;
	  font-stretch: expanded;
}
#slogan {
	font-family: fantasy;
	font-weight: 800;
	font-style: italic;
}
