body{
    display: grid;
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 75px 1fr 75px;
    grid-template-areas: "header header header"
                         "aboutme main main"
                         "footer footer footer";
    background: khaki;                        
}
header {
    background-color: indigo;
    text-align: center;
    text-shadow: 1px 1px 2px khaki ;
    grid-area: header;
}
.aboutme{
    grid-area: aboutme;
    padding: 2%;
    
}
header a {
    text-align: right;
}
footer {
    grid-area: footer;
}
