@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {
    /*background: url("https://i.imgur.com/sN5Maq9.jpg");
    background-size: cover;*/
    font-family: Mansalva,cursive;;
    /*font-style: italic;*/
	text-align: left;
	color: #000;
	font-size: 24px;
}
header {
	background: #FFED74;
}
nav {
	background: #E8C66A;
}
h1 {
	color: #000;
	/*font-family: fantasy;*/
	font-size: 75px;
	font-weight: black;

} 
h3 { 
	  color: #000;
	  font-family: fantasy;
	  font-style: italic; 
	  font-size: 50px;
	  font-weight: bold; 		  
}
.cta {
	  font-family: fantasy;
	  text-align: justify; 
	  text-decoration: none;
	  color:#000000; 
	  background-color:#FF774B;
	  width: 100px;
	  height: 25px;
	  border: 2px solid #000000;
	  margin: 20px;
}
.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 50px;
	width: 6em;
}
.aboutus{
	width: 30em;
	line-height: 1.3em;
	font-family: Mansalva,cursive;
	font-size: 24px;
}
.packpics {
	width:= "75"; 
	height:= "75"; 
	vertical-align: top;
	padding: 25px;
	border: 2px;
	border-color: #000
/*.names{
	display: inline-flex;*/
}
.meetus{
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}
ul{
	list-style-type: none;
}
.reg{
	font-family: Mansalva,cursive;
	text-align: left;
	color: #000;
	font-size: 24px;
	line-height: 1.3em;
	font-weight: 200;
}
#hline{
	border: 3px black;
}
footer {
	 background: #FF957E;
}
section {
	background: #FFE2B8;
}
