@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {
    font-family: Mansalva,cursive;;
    /*font-style: italic;*/
	text-align: right;
	color: #000;
	font-size: 24px;
}
header {
	background-color: #7AC0FF;
	display: block;
	text-align: center;
}
nav {
	/*background: #E8C66A;*/
}
h1 {
	color: #000;
	/*font-family: fantasy;*/
	font-size: 75px;
	font-weight: black;
} 
h3 { 
	  color: #000;
	  font-family: 'Raleway', sans-serif;
	  font-style: italic; 
	  font-size: 50px;
	  font-weight: bold;
	  text-align: center; 		  
}
.cta {
	  font-family: 'Raleway', sans-serif;
	  text-align: right; 
	  text-decoration: none;
	  color:#000000; 
	  background-color:#FF774B;
	  border: 2px solid #000000;
	  margin: 20px;
	  display: inline;
}
.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 50px;
	width: 10em;
	display:inline-block;
}
.aboutus{
	/*width:30em;*/
	line-height: 1.3em;
	font-family: Mansalva,cursive;
	font-size: 24px;
	text-align: left;
}
.products{
	line-height: 1.3em;
	font-family: Mansalva,cursive;
	font-size: 24px;
	color: #000;
	text-align: left;
	margin-left:20%;
}
.packpics {
	width: 3.75em;  
	vertical-align: top;
	border: 2px;
	border-color: #000;
	border-style: solid;
	display: inline-block;
	float: left;
	margin: 10px;
	background-color: #7AC0FF;
}
.logo {
	width: 3.75em;
	border: 2px;
	border-color: #000;
	border-style: solid;
	display: inline-block;
	vertical-align: top;
	margin:10px;
}
.meetus{
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}
ul{
	list-style-type: none;
}
.reg{
	font-family: Mansalva,cursive;
	text-align: left;
	color: #99702E;
	font-size: 24px;
	line-height: 1.3em;
	font-weight: 200;
	text-decoration: underline;
}
/*#hline{
	border: 3px black solid;
}*/
footer {
	 background: #7AC0FF;
	 display: block;
	 clear: both;
	 outline: 2px solid black;
	 margin:0;
	 padding-top: 0;
}
section.title {
	background: url("https://i.imgur.com/sN5Maq9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Raleway', sans-serif; 
	text-align: right;
	margin:none;
	outline: 2px solid black;
}
.propic {
	width: 60%;
	float: right;
	display: block;
}
.propic2 {
	width: 45%;
	display: block;
	float: left;
}
div.whoweare{
	background-color: #7AC0FF;
	clear:both;
}
.email{
	text-align: left;
}
.mtp{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
}
.sec1{
	float: left;
	display: inline-block;
	background-color: #7AC0FF;
	width: 46%;
	padding: 2%;
	outline: 2px black solid;
	height: 24em;
	/*border: 2px;
	border-color: #000;
	border-style: solid;
	overflow: auto;  */
}
.sec2{
	float: right;
	display: inline-block;
	background-color: #7AC0FF;	
	width: 46%;
	padding: 2%;
	outline: 2px black solid;
	height: 24em;
	/*border: 2px;
	border-color: #000;
	border-style: solid;
	overflow: auto;*/
}
