@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {
    font-family: Mansalva,cursive;;
    /*font-style: italic;*/
	text-align: left;
	color: #000;
	font-size: 24px;
}
header {
	background: #FFED74;
}
nav {
	background: #E8C66A;
}
h1 {
	color: #000;
	/*font-family: fantasy;*/
	font-size: 75px;
	font-weight: black;
} 
h3 { 
	  color: #000;
	  font-family: fantasy;
	  font-style: italic; 
	  font-size: 50px;
	  font-weight: bold; 		  
}
.cta {
	  font-family: fantasy;
	  text-align: center; 
	  text-decoration: none;
	  color:#000000; 
	  background-color:#FF774B;
	  border: 2px solid #000000;
	  margin: 20px;
	  display: inline;
}
.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 50px;
	width: 10em;
}
.aboutus{
	width:30em;
	line-height: 1.3em;
	font-family: Mansalva,cursive;
	font-size: 24px;
	text-align: center;
}
.packpics {
	width: 75px;  
	vertical-align: top;
	border: 2px;
	border-color: #000;
	border-style: solid;
	display: inline-block;
}
.logo {
	width: 75px;
	border: 2px;
	border-color: #000;
	border-style: solid;
	display: inline-block;
	align: right;
}
.meetus{
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}
ul{
	list-style-type: none;
}
.reg{
	font-family: Mansalva,cursive;
	text-align: left;
	color: #000;
	font-size: 24px;
	line-height: 1.3em;
	font-weight: 200;
}
#hline{
	border: 3px black;
}
footer {
	 background: #FF957E;
}
section.title {
	background: url("https://i.imgur.com/sN5Maq9.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	width: 100%;
	display: inline-block;
}
.propic {
	width: 40%;
	float: right;
}
