@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');
body {
	text-align: right;
    background: url("https://i.imgur.com/sN5Maq9.jpg");
    background-size: cover;
    font-family: Helvetica,sans-serif;
    /*font-style: italic;*/
	text-align: right;
	color: #000;
}
h1 {
	color: #000;
	font-weight: bold;
	font-family: fantasy;
	font-size: 75px;
	text-align: right;
	font-weight: black;
} 
h3 { 
	  color: #000;
	  font-family: fantasy;
	  font-style: italic; 
	  font-size: 50px;
	  text-align: right;
	  font-weight: bold; 		  
}
.cta {
	  font-family: fantasy;
	  text-align: justify; 
	  text-decoration: none;
	  color:#000000; 
	  background-color:#FF774B;
	  width: 100px;
	  height: 25px;
	  border: 2px solid #000000;
	  margin: 20px;
}
.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: right;
	font-size: 50px;
	width: 1.25em;
}
.packpics {
	width:=75px; 
	height:=75px; 
	vertical-align: top;
}
a {
	text-decoration: none;
	color: #000;
}
ul{
	list-style-type: none;
}
img {align-content: left}
